.header_nav {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_nav a {
  text-decoration: none;
  color: #000000;
}

.nav_item {
  font-size: 16px;
  line-height: 19px;
  margin: 0px 38px 0 0;
  z-index: 1;
  position: relative;
}

.nav_item:after {
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  top: 20px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.66);
  content: "";
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.nav_item:hover:after, .nav_item:focus:after {
  width: 100%;
}

.nav {
  margin-right: 185px;
}

.nav_login {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  z-index: 1;
  position: relative;
}

.nav_login:after {
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  top: 25px;
  height: 2px;
  background-color: rgba(0, 0, 0, 0.66);
  content: "";
  -webkit-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

.nav_login:hover:after, .nav_login:focus:after {
  width: 100%;
}

.header_img--main {
  position: absolute;
  top: -10%;
  right: -10%;
  z-index: 0;
}

.header_img::before {
  position: absolute;
  content: "";
  background: rgba(69, 102, 208, 0.29);
  width: 700px;
  height: 400px;
  -webkit-filter: blur(255px);
          filter: blur(255px);
  top: 30%;
  right: 15%;
  z-index: 0;
  border-radius: 50%;
}

.parallax_circle {
  width: 411px;
  height: 411px;
  background: #DAE2FF;
  border-radius: 50%;
  position: absolute;
  top: -45%;
}

.header_main {
  margin-top: 170px;
}

.header_title {
  font-family: Montserrat;
  font-weight: bold;
  font-size: 50px;
  line-height: 104.5%;
  width: 480px;
  z-index: 1;
}

.header_subtitle {
  font-size: 17px;
  line-height: 145.5%;
  color: rgba(20, 28, 51, 0.77);
  width: 441px;
  display: inline-block;
  margin-top: 40px;
  z-index: 1;
}

.header_btn {
  background: #33447A;
  -webkit-box-shadow: 0px 5px 33px rgba(51, 68, 122, 0.66);
          box-shadow: 0px 5px 33px rgba(51, 68, 122, 0.66);
  border-radius: 22px 0px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 19px 68px;
  width: 227px;
  margin-top: 100px;
}

.header_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
}

body * {
  font-family: 'Exo 2', sans-serif;
}

body {
  background-color: #CED9FF;
  overflow: hidden;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
}
