@import "_header";



.container {
  max-width: 1170px;
  margin: 0 auto;
  position: relative;
}

body * {
  font-family: 'Exo 2', sans-serif;
}

body {
  background-color: #CED9FF;
}

* {
  box-sizing: border-box;
}


img {
  max-width: 100%;
}
